<!-- menu.html -->
<nav class="navbar navbaar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Home</a>
            <a href="/search/business" class="navbar-brand">business</a>
            <a href="/search/entertainment" class="navbar-brand">entertainment</a>
            <a href="/search/general" class="navbar-brand">general</a>
            <a href="/search/health" class="navbar-brand">health</a>
            <a href="/search/science" class="navbar-brand">science</a>
            <a href="/search/sports" class="navbar-brand">sports</a>
            <a href="/search/technology" class="navbar-brand">technology</a>
      

        </div>
    </div>
</nav>