<!-- menu.html -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">


            <div class="collapse navbar-collapse navbar-top-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/" class="navbar-brand">Home</a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="nav-home"></span>
                        </a>
                    </li>
                    <li>
                        <a href="/search/business" class="navbar-brand">business</a>
                    </li>
                    <li>
                        <a href="/search/entertainment" class="navbar-brand">entertainment</a>
                    </li>
                    <li>
                        <a href="/search/general" class="navbar-brand">general</a>
                    </li>
                    <li>
                        <a href="/search/health" class="navbar-brand">health</a>
                    </li>
                    <li>
                        <a href="/search/science" class="navbar-brand">science</a>
                    </li>
                    <li>
                        <a href="/search/sports" class="navbar-brand">sports</a>
                    </li>
                    <li>
                        <a href="/search/technology" class="navbar-brand">technology</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>